# Environment
.env
.env.*
!.env.example

# Dependencies
node_modules/

# Production
dist/
build/

# Debug
logs
*.log
npm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.sw?

